*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#2a2a2a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dddddd;
    line-height: 1.6;
}
header{
    background-color: #24242499;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;

    nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        a{
            color: #dddddd;
            text-decoration: none;
            background-color: #363636;
            padding: 0.7rem 1.2rem;
            transition: all 0.3s ease;
            border-radius: 4px;
            font-size: 1.2rem;
            
            &:hover{
                background-color: #4a4a4a;
                
            }
        }

        ul{
            list-style: none;
            display: flex;
            gap: 2rem;
        }

        .nav-left{
            display: flex;
            align-items: center;
            gap: 3rem;

            h1{
                font-family: 'Times New Roman', Times, serif;
                font-size: 3rem;
            }

        }
        .nav-right{
            display: flex;
            align-items: center;
            gap: 3rem;
        }
    }
}
section{margin-bottom: 2rem;}

main{
    #fastabout{
        min-height: 100vh;
        text-align: center;
        align-items: center;
        justify-content: center;    

        h1{
            font-size: 14rem;
            margin-bottom: 1rem;
            font-family: 'Times New Roman', Times, serif;
        }
        a{
            color: #dddddd;
            text-decoration: none;
            background-color: #363636;
            padding: 0.9rem 1.4rem;
            transition: all 0.3s ease;
            border-radius: 4px;
            font-size: 1.8rem;


            &:hover{
                background-color: #4a4a4a;
            }
        }

    }
    #what-do-i-do{
        min-height: 75vh;
        display: flex;

        justify-content: space-between;
        padding: 2rem 5rem;

        .left{
            display: flex;
            align-items: center;
            h1{
                
                font-size: 6rem;
                margin-bottom: 2rem;
                font-family: 'Times New Roman', Times, serif;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

                p{
                    max-width: 800px;
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }
                a{
                    color: #363636;
                    text-decoration: none;  
                    background-color: #dddddd;
                    padding: 0.9rem 1.4rem;
                    width: 150px;
                    height: 150px;
                    
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    border-radius: 100%;
                    font-size: 2rem;
                    line-height: 1;
                    transition: all 0.3s ease;

                    &:hover{
                        background-color: #9f9f9f;
                    }
                }
        }

    }
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 5rem;
            margin-bottom: 2rem;
            font-family: 'Times New Roman', Times, serif;
            
        }
        .projects-container{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 3rem;

            .project{
                background-color: #363636;
                padding: 2rem;
                min-width: 25vw;
                max-width: 25vw;
                min-height: 30rem;
                border-radius: 10px;
                text-align: center;

                h2{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    font-family: 'Times New Roman', Times, serif;
                }
                p{
                    text-align: justify;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 10px;
                    
                }
            }
        }
        
    }   
}